# ec2ExistEnv.template
#leave this file here
#/etc/profile uses this file each login
export EXIST_HOME={{ existLn }}
PATH=$PATH:{{ actualJavaHome.stdout }}/bin
export PATH
alias exist-start='sudo /usr/local/bin/exist start'
alias exist-stop='sudo /usr/local/bin/exist stop'
alias exist-status='sudo /usr/local/bin/exist status'
